(<span class="talent-mastery">×{{toDecimal [1] 1}}</span>
{{~#if [3]}}, <a href="http://te4.org/wiki/Unlockables" class="hint-link" title="View wiki for information on unlocking">unlockable</a>{{~else}}{{#unless [0]}}, locked{{/unless}}{{/if}})
